* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2a2626;
  font-size: 16px;
  line-height: 1.6em;
}

h1, h2, h3 {
  line-height: 1.2em;
  font-family: "Neucha", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  z-index: 2;
  position: relative;
}

.orange {
  color: #fe8a02;
}

.btn {
  background: #fe8a02;
  color: #fff;
  display: inline-flex;
  padding: 12px 24px;
  font-weight: 700;
  transition: 0.2s background;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #ea7600;
}

.bg {
  position: relative;
}

.bg-white {
  color: #b09a81;
  background: #fff;
}

.bg-light {
  background: #f5f4f0;
}

.bg-brown {
  background: #b09a81;
  color: #fff;
}

.bg-dark {
  background: #42413c;
}

.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}

.text-flex {
  display: flex;
  justify-content: space-between;
}

.text-flex__item {
  width: calc(50% - 15px);
}

.header {
  position: relative;
  overflow: hidden;
}

.header__title {
  margin-bottom: 185px;
}

.header__img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: -1;
}

.header__link {
  margin-top: 40px;
}

.video {
  text-align: center;
}

.video__title {
  margin-bottom: 27px;
}

.video__subtitle {
  margin-bottom: 30px;
}

.video__yt {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  margin-bottom: -200px;
}

.five__container {
  padding-top: 200px;
}
.five__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 30px;
}
.five__title {
  font-size: 52px;
  color: #fff;
}
.five__card {
  padding: 22px;
}

.five-card {
  transition: 0.2s ease background, 0.2s ease color;
}
.five-card__num {
  display: inline-block;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 40px;
  font-family: "Neucha", sans-serif;
}
.five-card__title {
  margin-bottom: 16px;
  color: #fe8a02;
  transition: 0.2s ease color;
}
.five-card:hover {
  background: #fe8a02;
  color: #fff;
}
.five-card:hover .five-card__title {
  color: #fff;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.main__wrapper-reverse {
  flex-direction: row-reverse;
}

.main__img {
  flex-shrink: 0;
}

.main__left {
  margin-right: 30px;
}

.main__left-reverse {
  margin-right: 0;
  margin-left: 30px;
}

.main__header {
  font-family: "Neucha", sans-serif;
  font-size: 24px;
  line-height: 28.8px;
  color: #908d8b;
}

.main__header-light {
  color: #d7ccc0;
}

.main__title {
  margin-bottom: 30px;
}

.main__description {
  font-family: "Neucha", sans-serif;
  font-size: 34px;
  line-height: 1.2;
}

.main__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.footer__top {
  color: #fff;
  padding: 40px 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer__title {
  width: calc(50% - 15px);
}

.footer__form {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 10px;
}

.form__wrapper {
  width: 100%;
  position: relative;
}

.form__input {
  height: 50px;
  padding: 15px;
  width: 100%;
  border: 0;
  outline: none;
}

.form__button {
  height: 50px;
  width: 70px;
  position: absolute;
  right: 0;
}
.form__button:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/send.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__agreement {
  font-size: 12px;
}
.form__agreement-link {
  text-decoration: underline;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footer__contact {
  margin-bottom: 16px;
}
.footer__contact:last-child {
  margin-bottom: 0;
}

.footer__link {
  text-decoration: underline;
}

/*# sourceMappingURL=app.css.map */
